{{ define "main" }}
<main>
    <div class="content">
        <h1 class="title">{{ .Title | markdownify }}</h1>
        {{ if .Params.toc }}{{ partial "toc.html" . }}{{ end }}

        {{ if .Params.metadata }}
        <ul>
          {{ range $k, $v := .Params.metadata }}
          <li><strong>{{ $k | title }}</strong>: {{$v}}</li>
          {{ end }}
        </ul>
        {{ end }}

        {{ if .Params.ingredients }}
        <h2>Ingredients</h2>
        <ul>
          {{ range $v := .Params.ingredients }}
          <li>{{$v}}</li>
          {{ end }}
        </ul>
        {{ end }}

        {{ .Content | replaceRE `(<h[1-9] id=\"([^\"]+)\"[^\>]*\>)(.*)(</h[1-9]+>)` `${1}<a href="#${2}" class="anchor" ariaLabel="Anchor"></a>${3}${4}` | replaceRE `\[(.+?)\]([^\(])` `<span class="recipe-highlight-word">${1}</span>${2}` | safeHTML }}
    </div>
</main>
{{ end }}
