<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body>
    <div class="main-container">
      <!-- sidebar -->
      <div id="left" class="column">
        <details class="mobile-menu">
          <summary>Index</summary>
          {{ partial "page-index.html" . }}
        </details>
        </nav>
        <nav class="menu">
          {{ partial "page-index.html" . }}
        </nav>
      </div>

      <!-- content -->
      <div id="right" class="column">
        {{ block "main" . }}
        {{ end }}
      </div>
    </div>

    <!-- for search -->
    {{ partial "search.html" . }}
  </body>
</html>
