<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body>
    <!-- sidebar -->
    <div id="left" class="column">
      {{ partial "menu-nested.html" . }}

      <form id="search-form" class="search-form" role="search">
        <label for="search-input">
        </label>
        <input type="search" id="search-input" class="search-input" placeholder="search">
      </form>
      {{ partial "menu.html" . }}
    </div>

    <!-- content -->
    <div id="right" class="column">
      {{ block "main" . }}
      {{ end }}
    </div>

    <!-- for search -->
    <script src="{{ "/js/search.js" | relURL }}"></script>
  </body>
</html>
