<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body>
    <!-- sidebar -->
    <div id="left" class="column">
      {{ partial "menu-nested.html" . }}
    </div>

    <!-- content -->
    <div id="right" class="column">
      {{ block "main" . }}
      {{ end }}
    </div>

    <!-- for search -->
    <div id="fastSearch">
      <input id="searchInput" tabindex="0">
      <ul id="searchResults">
      </ul>
    </div>
    <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
    <script src="/js/fastsearch.js"></script>
  </body>
</html>
