$base-font-size: 18px;
$sidebar-font-size: 16px;
$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 20px;
$code-block-font-size: 0.8em;
$inline-code-font-size: 0.8em;
$font-color: rgba(0, 0, 0, 0.8);

html {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue, helvetica, arial, sans-serif; 
    font-size: $base-font-size;
    line-height: 1.7;
    background-color: #FDFDFD;
    color: $font-color;

    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width : 768px) {
    /* column layout only on large enough screens */
    .main-container {
        display: flex;  /*enables flex content for its children*/
    }
}

/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif;
    font-weight: 400;
}

h1 {
    font-size: $h1-font-size;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}
h2 {
    font-size: $h2-font-size;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
h3 {
    font-weight: 600;
    font-size: $h3-font-size;
}
h4 {
    font-size: $h4-font-size;
}
h5, h6 {
    text-transform: uppercase;
    font-size: 1rem;
}

main {
    h1, h2, h3 { margin: 1.75em 0 0.5em 0; }
    h4 { margin: 2em 0 0.5em 0; }
    h5, h6 { margin: 2em 0 0.5em 0; }
}

h1 > a.anchor::before, h2 > a.anchor::before, h3 > a.anchor::before, h4 > a.anchor::before, h5 > a.anchor::before, h6 > a.anchor::before {
    content: "\00A7";
    font-size: .85em;
    display: block;
    padding-top: .15em;
}

h1 > a.anchor, h2 > a.anchor, h3 > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor {
    position: absolute;
    z-index: 1001;
    width: 1.5ex;
    margin-left: -1.5ex;
    display: block;
    text-decoration: none;
    color: inherit;
    visibility: hidden;
    text-align: center;
}

h1:hover > a.anchor, h2:hover > a.anchor, h3:hover > a.anchor, h4:hover > a.anchor, h5:hover > a.anchor, h6:hover > a.anchor {
    visibility: visible;
}

h1.title {
    margin: 0.5em 0;
}

/* column layout */
.column {
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}
#left {
    background-color: #f5f5f5;
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
    min-width: 300px;
    max-width: 400px;
    font-size: $sidebar-font-size;
}
#right {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
}
details.mobile-menu {
    display: none;
    summary {
        margin-left: 1em;
    }
}
nav.menu {
    padding: 1em;
    ul {
        padding-left: 1em;
        > ul {
            padding-left: 2em;
        }
        li.active {
            font-weight: 600;
        }
    }
}
main {
    padding: 1em;
    position: relative;
    .content {
        max-width: 48rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* table of contents */
.toc {
    background-color: #fffcf5;
    border: 1px solid #e3ca8f;
    padding: 0.5em 1em;

    #table-of-contents {
        font-family: "Georgia", serif;
        font-size: 1.2em;
    }
    nav {
    }
    nav > ul {
        margin-top: 0.2em;
    }
}

/* code */
div.highlight pre {
    background-color: #f7f7f8 !important;
}
pre {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    overflow-x: auto;
    background-color: #f7f7f8;
    line-height: 1.2;
    code {
        background: none;
        padding: 0;
        font-size: $code-block-font-size;
    }
}
code {
    background: #e0e0e0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: $inline-code-font-size;
    padding: 0.2em 0.4em;
}

/* misc elements */
hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background: #ccc;
}

p {
    line-height: 1.6;
}

img, iframe, video { max-width: 100%; }
blockquote {
    background: #f7f7f8;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    thead th {
        text-align: left;
        border-bottom: 2px solid #ccc;
    }
    th, td {
        padding: 5px;
        border: 1px solid #ccc;
    }
    thead, tfoot, tr:nth-child(even) { background: #f0f0f0; }
}

.footnotes ol li p {
    margin-top: 0;
    margin-bottom: 0;
}

details > summary {
    cursor: pointer;
}

@media only screen and (max-width : 768px) {
    #left {
        max-width: 100%;
        min-height: 2em;
        nav.menu {
            display: none;
        }

        details.mobile-menu {
            display: block;
        }
    }
}

// @import is being deprecated in favor of @use, but Hugo's sass compiler only
// supports @import
@import 'search';
