<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }} | {{ .Site.Title }}</title>

        {{ $style := resources.Get "css/style.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    </head>

    <body>
        <!-- sidebar -->
        <div id="left" class="column">
            {{ partial "menu.html" . }}
        </div>

        <!-- content -->
        <div id="right" class="column">
