{{ $parents := .parents }}
{{ range .page.Sections}}
  {{ $parents := $parents | append (slice .Title) }}
  {{ partial "menu-flat-recurse" (dict "page" . "parents" $parents) }}
{{ end }}

{{ $parentsPath := (delimit $parents " > ") }}

{{ $pages := .page.Pages }}
{{ if .rootPagesOnly }}
  {{ $pages = (where .page.Pages "Section" "") }}
{{ end }}

{{ range $pages }}
  {{ if eq (len .Sections) 0 }}
  <li>
    {{ if not (eq $parentsPath "") }}
      <span>{{ $parentsPath }} > </span>
    {{ end }}
    <a href="{{.RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
{{ end }}
