{{ $currentPageRelPermalink := .Scratch.Get "currentPageFilePath" }}
<ul>
{{ range .Sections }}
    {{ $title := .Title }}
    {{ if eq .Title "" }}
        {{ $title = title (path.Base .File.Dir) }}
    {{ end }}
    {{ $isActive := eq .RelPermalink $currentPageRelPermalink }}
    <li class="{{ if $isActive }}active{{ end }}">
        <a href="{{.RelPermalink }}">{{ .Title }}</a>
    </li>
    <ul>
        {{ partial "menulist.html" . }}
    </ul>
{{ end }}
{{ range .Pages }}
    {{ if eq (len .Sections) 0 }}
        {{ if .IsPage }}
            {{ $isActive := eq .RelPermalink $currentPageRelPermalink }}
            <li class="{{ if $isActive }}active{{ end }}"><a href="{{.RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    {{ end }}
{{ end }}
</ul>
